body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #000000;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
}

h2 {
    font-size: 1.5rem;
    color: #ffffff;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
    color: #fff;
}

.download-btn {
    background-color: #a72828;
    color: #fff;
}

.download-btn:hover {
    background-color: #882121;
}

p {
    color: #000000;
}